.TopBox {
	border-radius: 15px;
	color: #662e9b;
	background-color: #f9c80e;
	width: 1500px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
	margin-bottom: 10px;
}
