@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
	font-family: 'Russo One';
}

.App {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 100px,
		#465298 100px,
		#465298 200px
	);
	background-size: 200% 200%;
	animation: barberpole 20s linear infinite;
}
@keyframes barberpole {
	100% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 100% 100%;
	}
}
