.container {
	width: 300px;
	border-radius: 20%;
	background-color: #662e9b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	color: #f9c80e;
	margin: 10px;
}

.winner-content {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: none;
}

.poster {
	width: 100px;
	margin: 5px;
	border-radius: 10px;
}
