.main-box {
	height: 90vh;
	width: 90vw;
	border-radius: 50px;
	border: white 5px solid;
	background-color: #1d0085;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wattanite {
	/* text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white; */
	-webkit-text-stroke: 0.01px white;
	font-size: 350%;
	text-decoration: underline;
}
